
<div class="example-container">
    <span class="list-content">
        <div class="search">
            <mat-form-field class="example-form-field">
                <mat-label>Search for an Anomaly</mat-label>
                <input matInput type="text" [(ngModel)]="value">
                @if (value) {
                  <span class="clear-button" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                   clear
                  </span>
                }
            </mat-form-field>
            <span class="material-symbols-outlined add-button">add_circle</span>
        </div>
         <div class="list-container">
             <div class="list-item" 
                  *ngFor="let item of data" 
                  [class.active]="isItemSelected(item.id)"
                  (click)="selectItem(item.id)">
                 <div class="list-item-content">
                     <span class="list-item-name">{{ item.name }}</span>
                     <div class="list-item-numbers">
                         <span class="first-number">{{ item.firstNumber | number }}</span>
                         <span class="second-number">{{ item.secondNumber }}%</span>
                     </div>
                 </div>
             </div>
         </div>
    </span>
    <span class="chart-content">
        <div class="chart-container">
            <canvas #chartCanvas></canvas>
        </div>
    </span>
</div>

<app-anomaly-details 
    [isVisible]="showAnomalyDetails" 
    [anomalyData]="selectedAnomalyData"
    [analyzedPeriod]="analyzedPeriodData"
    [newsData]="newsData"
    [isLoadingNews]="isLoadingNews"
    (close)="onCloseAnomalyDetails()">
</app-anomaly-details>